<!doctype html>
<html>
<head>
</head>
  
<body>
  <style>
      .rw-conversation-container .rw-header{background-color: blue;}
      .rw-conversation-container .rw-messages-container .rw-message .rw-response{background-color: #f4f7f9;}
      .rw-launcher{background-color: blue;}
      .rw-conversation-container .rw-reply{background-color: hsl(250, 69%,61%);border: 1px solid}
      .conversation-container .replies {display:block}
  </style>
      
    <script>!(function () {
  let e = document.createElement("script"),
    t = document.head || document.getElementsByTagName("head")[0];
  (e.src =
    "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
    // Replace 1.x.x with the version that you want
    (e.async = !0),
    (e.onload = () => {
      window.WebChat.default(
        {
          customData: { language: "en" },
          socketUrl: "http://localhost:5005",
          title: "Yusuf Bot",
          subtitle: "Ceddy",
          profileAvatar:"./static/botphoto.png",
          openLauncherImage:"./static/chat.png",
          closeImage:"./static/square.png",
          showMessageDate: true,
          storage:"local"
          // add other props here
        },
        null
      );
    }),
    t.insertBefore(e, t.firstChild);
})();
localStorage.clear()
</script>
</body>
</html>
